
body {
  font-family: 'Source Sans 3', sans-serif;
  margin: auto;
  font-size: 14px;
  padding: 4rem;
  font-weight: normal;
  text-align: start;
  border-radius: 1rem;
  background-color:#141a32;
  display: flex;
  justify-content: center;
  min-height: fit-content;
  color: hsl(148, 100%, 93%);
}

h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.img {
flex-wrap: wrap;
}

.card {
  max-width: 50ch;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 37px auto 0;
  display: block;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 1rem;
  width: 50ch;
  object-fit: contain;
  mix-blend-mode: normal;
  cursor: pointer;
}
/* image, note to self not time name it image */


.cta, .parent {
  max-width: 50ch;
  margin: auto;
  margin-top: 5rem;
  padding: 2rem;
  background-color:  hsl(256, 68%, 23%);
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
  transform: translateY(-0.5%)
}
/* blue box that everything is in */


.cta, .parent :visited {
  font-family: 'Oswald', sans-serif;
  padding: 0.5rem;
  margin: auto;
color: hsl(148, 100%, 93%);
background-color: hsl(256, 68%, 23%);
text-decoration: none;
border-radius: 1rem;
cursor: pointer;
transition: 0.2s;
transform: translateY(-0.5%)
}
/* action */


.cta , .parent :hover {
cursor: pointer;
transition: 0.2s;
transform: translateY(-0.5%);
box-shadow: 0 3px 10px 0 #aaa;
}
/* The "hover" however it's not working */

button{
  background-color: transparent;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: center;
display: flex;
}
/*button */
